.query-log-entry {
    padding-left: 10px;
    padding-bottom: 25px;    
}

.sql-query {
    font-size: 10pt;
}

.sql-query pre {
    margin-top: 0px;
}

body {
  margin: 30px;
  margin-top: 8px;
}

.gridHolder {
    width: 1100px;
    height: 400px;
}

.history-index {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    font-size: 12pt;
}