* {
    font-size: 10pt;
}

.grid-canvas * {
    font-size: 8pt;
}

.query-log-entry {
    padding-left: 10px;
    padding-bottom: 25px;    
}

.sql-query {
    font-size: 10pt;
}

.sql-query pre {
    margin-top: 5px;
    margin-left: 10px;
}

.sql-exception {
    font-weight: bold;
}

body {
  margin: 10px;
  margin-top: 8px;
}

.gridHolder {
    width: 1100px;
    height: 400px;
}

.history-index {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    font-size: 10pt;
}
.query-source {
    font-weight: bold;
}

